.pp {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 110;
   box-sizing: border-box;
   display: none;
   padding: 90px 95px 50px;
   overflow-y: auto;
   @media @bw1020 {
      padding: 90px 40px 50px;
   }
   @media @bw768 {
      padding: 80px 20px 40px;
   }

   &__wrapper {
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1210px;
      margin: auto;
      background-color: @gray;
      @media @bw1660 {
         max-width: 1144px;
      }
      @media @bw1020 {
         max-width: 688px;
      }
      @media @bw768 {
         max-width: 280px;
      }
   }

   &__container {
      box-sizing: border-box;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      padding: 0 40px 40px;
      @media @bw1660 {
         max-width: 974px;
         padding: 0 50px 40px;
      }
      @media @bw1020 {
         max-width: 668px;
         padding: 0 30px 40px;
      }
      @media @bw768 {
         max-width: 252px;
         padding: 0 6px 40px;
      }
   }

   &__title {
      z-index: 1;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin: -40px 0 70px -85px;
      padding: 10px 85px;
      width: 595px;
      min-height: 80px;
      background-color: @black;
      color: @white;
      font-family: @font2;
      font-size: @font_size6;
      font-weight: @font_weight2;
      line-height: @line_height8;
      text-transform: uppercase;
      @media @bw1660 {
         margin: -40px 0 70px -50px;
      }
      @media @bw1020 {
         width: 465px;
         padding: 10px 60px 10px 18px;
         margin: -40px 0 70px -30px;
      }
      @media @bw768 {
         width: 225px;
         font-size: @font_size2;
         line-height: @line_height3;
         margin: -30px 0 40px -6px;
         padding: 10px 20px;
      }
   }

   &__sticky-close {
      position: sticky;
      top: 0;
      align-self: flex-end;
      width: 0;
      height: 0;
   }
   
   &__x-btn {
      position: absolute;
      top: -30px;
      right: -30px;
      @media @bw768 {
         top: -18px;
         right: -18px;
      }
   }
}
@supports (backdrop-filter: blur(50px)) {
   .pp {
      background-color: @black66;
      backdrop-filter: blur(50px);
   }
}
.is-hidden {
   position: absolute !important;
   width: 0 !important;
   height: 0 !important;
   margin: 0 !important;
   padding: 0 !important;
   border: 0 !important;
   clip: rect(0 0 0 0) !important;
   clip-path: inset(100%) !important;
   white-space: nowrap !important;
   overflow: hidden !important;
   visibility: hidden !important;
   pointer-events: none !important;
}

.form {
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media @bw768 {
         flex-direction: column;
      }
   }
   &__field,
   &__group {
      width: 100%;
      &--w50 {
         width: calc(50% - 30px);
         @media @bw768 {
            width: 100%;
         }
      }
   }
   &__field {
      margin: 0 0 30px;
   }
   &__check-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 40px;
   }
   &__section {
      margin: 0 0 20px;
   }
   &__section-title {
      margin: 0 0 10px;
      color: @black;
      font-family: @font1;
      font-size: @font_size4;
      font-weight: @font_weight5;
      line-height: @line_height6;
      @media @bw768 {
         font-size: @font_size3;
         line-height: @line_height5;
      }
   }
   &__btns {
      display: flex;
      align-items: center;
      margin: 0;
      @media @bw768 {
         flex-direction: column;
         gap: 30px;
      }
   }
   
   &__submit {
      @media @bw768 {
         font-size: @font_size2;
         line-height: @line_height3;
      }
      &--w50 {
         width: calc(50% - 30px);
         @media @bw768 {
            width: 100%;
         }
      }
   }
   &__close-btn {
      margin: 0 auto;
      padding: 15px 40px;
      border: none;
      background: transparent;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight4;
      line-height: @line_height5;
      text-decoration: underline;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
      @media @bw768 {
         font-size: @font_size2;
         line-height: @line_height3;
      }
   }

   &__check-pp {
      position: relative;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      min-height: 24px;
      padding: 2px 0 0 24px;
      margin: 0;
      color: @black;
      cursor: pointer;

      &__input {
         .is-hidden ();

         &:checked {
            & ~ .form__check-pp__mark {
            background-color: @black;
            &::after {
               content: "";
               position: absolute;
               left: 7px;
               top: 2px;
               display: block;
               width: 6px;
               height: 12px;
               border-bottom: 2px solid @white;
               border-right: 2px solid @white;
               transform: rotate(45deg);
            }
            }
         }
      }
      &__mark {
         position: absolute;
         left: 0;
         top: 0;
         box-sizing: border-box;
         display: block;
         width: 24px;
         height: 24px;
         border: 1px solid @black;
      }
      &__label {
         margin-left: 15px;
         font-size: @font_size3;
         font-weight: @font_weight1;
         line-height: @line_height5;
         &--s {
            font-family: @font1;
            font-size: @font_size2;
            font-weight: @font_weight2;
            line-height: @line_height3;
            @media @bw768 {
               font-size: @font_size2;
               line-height: @line_height3;
            }
         }
      }
   }
}

input,
textarea,
button,
select {
   box-shadow: none;
   outline: none;
   color: @black;
   font-family: @font1;
}
button {
   cursor: pointer;
}
textarea {
   resize: none;
}
input,
textarea {
   &::placeholder {
      color: @gray_plachol;
   }
}
input:focus,
textarea:focus {
   &::placeholder {
      color: transparent
   }
}

.radio {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   &__item {
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-height: 23px;
      margin-bottom: 15px;
      padding-left: 20px;
      color: @black;
      cursor: pointer;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__input {
      .is-hidden ();
      &:checked ~ .radio__mark {
         background-color: @black;
      }
   }
   &__mark {
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      display: block;
      width: 23px;
      height: 23px;
      border: 2px solid @black;
      border-radius: 50%;
      padding: 3px;
      background-clip: content-box;
      background-color: transparent;
      transition: background-color 0.2s;
   }
   &__label {
      margin-left: 20px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
}

.field {
   display: flex;
   flex-direction: column;
   &__title {
      display: block;
      margin: 0 0 10px;
      color: @black;
      font-family: @font1;
      font-size: @font_size4;
      font-weight: @font_weight5;
      line-height: @line_height6;
      @media @bw768 {
         font-size: @font_size3;
         line-height: @line_height5;
      }
   }
   &__label {
      display: block;
      margin: 0 0 5px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
   &__input,
   &__textarea,
   &__select {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: @white;
      color: @gray_plachol;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
   &__input,
   &__select {
      height: 55px;
      padding: 0 20px;
   }
   &__textarea {
      height: 150px;
      padding: 20px;
      @media @bw768 {
         height: 234px;
         margin-top: 10px;
         padding: 15px;
      }
   }
   &__date-inputs {
      display: flex;
      width: 100%;
      max-width: 251px;
      height: 55px;
   }
   &__date-input {
      box-sizing: border-box;
      display: block;
      width: 55px;
      height: 55px;
      margin-right: 15px;
      padding: 0 5px;
      border: none;
      border-radius: 5px;
      background-color: @white;
      color: @gray_plachol;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
      text-align: center;
      &--year {
         flex-grow: 1;
         margin-right: 0;
      }
   }
}