// Цветовая палитра
@white: #ffffff;
@black: #1f1e1e;
@red: #bc3324;
@red_dark: #a51505;
@gray: #dedede;
@gray_dark: #bfbfbf;
@gray_80: #dedede80;
// Шрифты
@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;
//Размер
@font_size0: 0;
@font_size1: 14px;
@font_size2: 16px;
@font_size3: 18px;
@font_size4: 20px;
@font_size5: 22px;
@font_size6: 24px;
@font_size7: 36px;
@font_size8: 44px;
@font_size9: 45px;
@font_size10: 128px;
//Начертание шрифта
@font_weight1: 300;
@font_weight2: 400;
@font_weight3: 500;
@font_weight4: 600;
@font_weight5: 700;
//Межстрочный интервал
@line_height1: 1.187;
@line_height2: 1.277;
@line_height3: 1.357;
@line_height4: 1.363;
@line_height5: 1.375;
@line_height6: 1.388;
@line_height7: 120%;
@line_height8: 1.36;

