.about {
   &__container {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1414px;
      margin: 0 auto;
      padding: 200px 40px 90px;
   }
   &__title {
      margin: 0;
      color: @black;
      font-family: @font1;
      font-size: @font_size8;
      font-weight: @font_weight5;
      line-height: @line_height4;
   }
   &__text {
      width: 100%;
      max-width: 867px;
      margin: 50px 0 0 auto;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height6;
   }

   &__block2 {
      display: grid;
      margin-top: 100px;
      grid-template-columns: 1fr 1fr 404px;
      grid-template-areas: 
         'picture1 picture1 picture2'
         'title title picture2'
         'text text text';

         &__picture1 {
            grid-area: picture1;
         }
         &__picture2 {
            grid-area: picture2;
            align-self: end;
            margin-bottom: 16px;
         }
         &__title {
            grid-area: title;
            margin: 100px 0 0;
         }
         &__text {
            grid-area: text;
         } 
   }

   &__block3 {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-height: 380px;
      margin: 110px 0 0;

      &__picture {
         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 65%;
            width: 930px;
            background-color: @red;
         }
         &__img {
            display: block;
            position: absolute;
            top: 19px;
            left: 49px;
            width: 872px;
            z-index: 1;
            object-fit: contain;
         }
      }

      &__box {
         display: flex;
         flex-direction: column;
         width: 100%;
         max-width: 344px;
         margin-top: 155px;
      }
      
      &__text {
         margin: 0;
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         font-weight: @font_weight2;
         line-height: @line_height6;
      }
      &__button {
         box-sizing: border-box;
         display: flex;
         margin-top: 90px;
         &__link {
            box-sizing: border-box;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 344px;
            height: 60px;
            color: @black;
            font-family: @font1;
            font-size: @font_size2;
            font-weight: @font_weight4;
            line-height: @line_height5;
            text-decoration: none;
            transition: color 0.2s;
            cursor: pointer;
            &:hover {
               color: @red;
            }
         }
         &__arrow {
            width: 91px;
            height: 60px;
         }
      }
   }
}












