.blog {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1414px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
}
.section-blog {
   margin-top: 77px;
}
.blog__listing {
   display: flex;
   flex-direction: column;
   width: 100%;
   color: #1F1E1E;
   text-decoration: none;
}
.blog-card__link {
   display: flex;
   justify-content: center;
   width: 100%;
   color: #1F1E1E;
   text-decoration: none;
}
.blog-card__link:hover .blog-card__title {
   color: #BC3324;
   text-decoration-color: #BC3324;
}
.blog-card__button {
   display: flex;
   width: 91px;
   margin: 171px 0 30px 180px;
}
.blog-card {
   margin: 30px 0 30px 60px;
}
.blog-card__title {
   margin: 60px 0 40px 0;
   min-height: 33px;;
   color: #1F1E1E;
   font-weight: 600;
   font-size: 24px;
   line-height: 33px;
   text-decoration: underline transparent;
   transition: color 0.2s, text-decoration-color 0.2s;
}
.blog-card__time {
   margin-top: 30px;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.375;
}
p.blog-card__description {
   padding-right: 10px;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
}
.blog-card__image {
   width: 467px;
   height: 291px;
}
.line {
   margin: 60px 0 60px 40px;
   width: 1257px;
   text-align: center;
   border: 1px solid #1F1E1E;
}
.blog-card__btn {
   display: flex;
   justify-content: end;
   width: 149px;
   margin: 60px 0 0 1185px;
}
.blog-card__btn-right {
   color: #1f1e1e;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   font-size: 16px;
   text-decoration: none;
   line-height: 1.375;
   cursor: pointer;
}
.blog-card__btn-right:hover {
   color: #bc3324;
}