.contacts {
   .container ();
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;

      @media @bw1020 {
         flex-wrap: wrap;
      }
      @media @bw768 {
         flex-wrap: wrap;
      }
      
      &__content {
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         max-height: 464px;
         margin: 15px 0 14px;

         @media @bw1660 {
            margin: 30px 0 29px;
         }
         @media @bw1020 {
            width: 615px;
            flex-direction: row;
            margin: 0 29px 0 64px;
         }
         @media @bw768 {
            flex-direction: column;
            margin: 0;
         }
      }

      &__picture {
         position: relative;
         display: block;
         width: 100%;
         margin: 0 0 0 178px;
         font-size: @font_size0;
         overflow: hidden;

         @media @bw1660 {
            width: 752px;
            margin: 0 0 0 132px;
         }
         @media @bw1020 {
            width: 708px;
            order: -1;
            margin: 0 0 100px 0;
         }
         @media @bw768 {
            width: 280px;
            order: -1;
            margin: 0 0 59px 0;
         }

         &::after {
            content: "";
            display: block;
            width: 100%;
            padding-top: 65.5585%;

            @media @bw1660 {
               padding-top: 65.5585%;
            }
            @media @bw1020 { 
               padding-top: 65.5367%;
            }
            @media @bw768 {
               padding-top: 66.4285%;
            }
         }

         &__img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
.info-card {
   position: relative;
   box-sizing: border-box;
   display: flex;
   margin-bottom: 67px;
   padding: 0;

   @media @bw1660 {
      margin-bottom: 52px;
   }
   @media @bw1020 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      text-align: center;
   }
   @media @bw768 {
      flex-direction: row;
      margin-bottom: 41px;
   }
   
   &:last-child {
      margin-bottom: 0;
   }
   &:nth-child(1) {
      @media @bw1020 {
         margin-right: 60px;
      }
      @media @bw768 {
         margin-right: 0;
      }
   }
   &:nth-child(2) {
      @media @bw1020 {
         margin-right: 37px;
      }
      @media @bw768 {
         margin-right: 0;
      }
   }

   &__content {
      max-width: 236px;
      max-height: 86px;
      margin: 12px 0 12px 54px;

      @media @bw1020 {
         margin: 30px 0 0 0;
      }
      @media @bw768 {
         max-width: 185px;
         margin: 0 0 0 30px;
         text-align: left;
      }
   }
   &__link {
      display: block;
      margin-bottom: 5px;
      width: 236px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      cursor: pointer;
      &:hover {
         color: @red;
      }
      &:last-child {
         margin-bottom: 0;
      }

      @media @bw1660 {
         width: 212px;
      }
      @media @bw1020 {
         width: 185px;
      }
      @media @bw768 {
         width: 185px;
         margin: 0;
         font-size: @font_size2;
      }
   }
   &__title {
      margin: 0 0 10px;
      color: @black;
      font-family: @font1;
      font-size: @font_size5;
      font-weight: @font_weight4;
      line-height: @line_height3;

      @media @bw1020 {
         font-size: @font_size4;
         font-weight: @font_weight5;
         line-height: @line_height6;
      }

      @media @bw768 {
         font-size: @font_size2;
         line-height: @line_height3;
      }
   }
   &__desc {
      margin: 0 0 5px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
      
      &:last-child {
         margin-bottom: 0;
      }

      @media @bw768 {
         font-size: @font_size2;
         line-height: @line_height3;
         margin: 0;
      }
   }
   &__svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      background-color: @black;

      @media @bw768 {
         width: 65px;
         height: 65px;
      }
   }
}
a[href="mailto:hi@tagree.ru"] {
   font-size: @font_size3;
}