.contacts {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1414px;
   margin: 0 auto;
   margin-top: 78px;
   padding-left: 40px;
   padding-right: 40px;
}
.contacts-container {
   display: flex;
   justify-content: space-between;
}
.section-contacts__address {
   margin-top: 15px;
}
.section-contacts__item {
   display: flex;
   align-items: center;
   width: 400px;
   margin-bottom: 67px; 
}
.contacts-item-3 {
   margin: 0;
}
.contacts__address-text {
   display: flex;
   width: 236px;
   height: 86px;
   align-items: center;
   padding-bottom: 12px;
   padding-top: 12px;
   margin-left: 54px;
}
.contacts-info__list {
   list-style-type: none;
   padding: 0;
}
.address-text__title {
   margin-bottom: 10px;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.35;
}
.contacts__link {
   text-decoration: none;
   transition: color 0.2s;
   cursor: pointer;
}
.contacts-info__text {
   color: #1f1e1e;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.375;
}
.icons-contacts {
   width: 110px;
   height: 110px;
}