.content {
   margin: 0;
   color: @black;
   font-family: @font1;
   font-size: 16px;
   font-weight: @font_weight2;
   line-height: 1.375;
   font-style: normal;
   word-wrap: break-word;
   @media @bw768 {
      font-size: 14px;
      line-height: 1.357;
   }
   h5 {
      margin: 0;
      color: @black;
      font-family: @font1;
      font-size: 18px;
      font-weight: @font_weight5;
      line-height: 1.388;
      @media @bw768 {
         font-size: 16px;
         line-height: 1.375;
      }
   }
   p {
      width: 870px;
      margin: 15px 0 50px;
      color: @black;
      font-family: @font1;
      font-size: 16px;
      font-weight: @font_weight2;
      line-height: 1.375;
      @media @bw1660 {
         width: 830px;
      }
      @media @bw1020 {
         width: 600px;
         margin: 15px 0 40px;
      }
      @media @bw768 {
         width: 270px;
         margin: 15px 0 40px;
         font-size: 14px;
         line-height: 1.357;
      }
   }

   ul {
      margin: 25px 0 80px;
      @media @bw1660 {
         margin: 22px 0 80px;
      }
      @media @bw1020 {
         margin: 25px 0 62px;
      }
      @media @bw768 {
         margin: 20px 0 57px;
      }
   }
   ol {
      margin: 0;
      @media @bw1660 {
         margin-left: 5px;
      }
   }
}

ul,
ol {
   position: relative;
   padding: 0;
   list-style: none;
   font-family: @font1;

}
ul > li {
   box-sizing: border-box;
   position: relative;
   padding-left: 15px;
   @media @bw1020 {
      padding-left: 14px;
   }
   @media @bw768 {
      padding-left: 8px;
   }
   &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: @red;
      pointer-events: none;
      @media @bw768 {
         width: 3px;
         height: 3px;
      }
   }
}

ol {
   counter-reset: li;
   padding: 0;
}

ol > li {
   counter-increment: li;

   &::before {
      content: counter(li) + ". ";
      box-sizing: border-box;
      display: inline-block;
      min-width: 20px;
      color: @black;
      white-space: pre;
   }
}

ul > li,
ol > li {
   margin: 0 0 10px;
   cursor: default;

   &:last-child {
      margin-bottom: 0;
   }
}
ol > li {
   margin: 0 0 10px;
   cursor: default;

   &:last-child {
      margin-bottom: 0;
   }
   @media @bw768 {
      margin: 0 0 5px;
   }
}