.contacts {
   .container ();
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      height: 493px;
      &__content {
         margin-top: 15px;
         height: 464px;
      }
      &__map {
         &__img {
            width: 100%;
            max-width: 752px;
            min-width: 280px;
            height: auto;
         }
      }
   }
}
.info-card {
   box-sizing: border-box;
   position: relative;
   display: flex;
   margin-bottom: 67px;
   color: @black;
   &__content {
      margin: 12px 0 7px 54px;
   }
   &__link {
      display: block;
      margin-bottom: 5px;
      width: 236px;
      color: inherit;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      text-decoration: none;
      cursor: pointer;
      &:hover {
         color: @red;
      }
   }
   &__title {
      margin: 0 0 10px;
      color: inherit;
      font-family: @font1;
      font-size: @font_size4;
      font-weight: @font_weight4;
      line-height: @line_height3;
   }
   &__desc {
      margin: 0 0 5px;
      color: inherit;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
   &__svg {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @black;
      width: 110px;
      height: 110px;
   }
}
.info-card:last-child {
   margin-bottom: 0;
   padding: 0;
}
