.content {
   margin: 0;
   color: @black;
   font-family: @font1;
   font-size: @font_size2;
   font-weight: @font_weight2;
   line-height: @line_height5;
   font-style: normal;
   word-wrap: break-word;
   
   h5 {
      margin: 0;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight5;
   }
   p {
      width: 870px;
      margin: 15px 0 50px;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
}
ul {
   margin: 20px 0 75px;
}
ol {
   margin: 0;
}
ul,
ol {
   position: relative;
   padding: 0;
   list-style: none;
   color: @black;
   font-family: @font1;
   font-size: @font_size2;
   font-weight: @font_weight2;
   line-height: @line_height11;
}
ul > li {
   box-sizing: border-box;
   position: relative;
   padding-left: 20px;
&::before {
   content: "";
   display: block;
   position: absolute;
   top: 8px;
   left: 0;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: @red;
   pointer-events: none;
   }
}

ol {
   counter-reset: li;
   padding: 0;
}

ol > li {
   counter-increment: li;

   &::before {
      content: counter(li) + ". ";
      box-sizing: border-box;
      display: inline-block;
      min-width: 20px;
      color: @red;
      white-space: pre;
   }
}

ul > li,
ol > li {
   margin: 0 0 15px;
   cursor: default;

   &:last-child {
      margin-bottom: 0;
   }
}