.contact {
   .container ();
   display: flex;
   flex-direction: column;

   &__listing {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: 67px;
      padding: 100px 0 10px;
   }
}
.article-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 33.3333%;
   min-width: 300px;
   max-width: 400px;
   text-align: center;
   &__svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      background-color: @black;
   }
   &__title {
      min-height: 27px;
      margin: 40px 0 10px;
      padding: 0;
      color: @black;
      font-family: @font1;
      font-size: @font_size4;
      font-weight: @font_weight4;
   }
   &__description {
      max-width: 400px;
      margin: 0 auto;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
   }
   &__div {
      display: flex;
      flex-direction: column;
   }
   &__link {
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
      &:hover {
         color: @red;
      }
   }
}
.svg {
   color: @red;
   &__icon {
      width: 24px;
      height: 24px;
   }
}