.doit {
   position: relative;
   width: 100%;
   height: 308px;
   margin-top: 150px;
   padding-top: 85px;
   overflow: hidden;

   
   @media @bw1660 {
      height: 216px;
      margin-top: 130px;
      padding-top: 0;
   }
   @media @bw1020 {
      height: 321px;
      margin-top: 100px;
      padding-top: 0;
   }
   @media @bw768 {
      height: 162px;
      margin-top: 100px;
      padding-top: 0;
   }

   &__text {
      position: relative;
      padding: 0;
      margin: 0 0 0 -2.5vw;
      color: @black;
      font-family: @font3;
      font-size: @font_size16; 
      font-weight: @font_weight5;
      line-height: @line_height7;
      
      @media @bw1660 {
         font-size: @font_size15;
      }
      @media @bw1020 {
         font-size: @font_size14;
      }
      @media @bw768 {
         font-size: @font_size10
      }
   }
}

.doit__row1 {
   position: relative;
   display: block;
   
   @media @bw1660 {
      left: -3.5vw;
   }
   @media @bw1020 {
      left: -2vw;
   }
   @media @bw768 {
      left: -2vw;
      white-space: nowrap;
   }
}
.doit__row2 {
   position: relative;
   top: -8vw;
   left: 61vw;
   display: block;
   
   @media @bw1660 {
      top: -8.2vw;
      left: 60.5vw;
   }
   @media @bw1020 {
      top: 1vw;
      left: 34.5vw;
   }
   @media @bw768 {
      left: 27.5vw;
   }
}
.doit__row3 {
   position: relative;
   top: -8vw;
   right: -9.2vw;
   left: 40vw;
   display: block;
   
   @media @bw1660 {
      top: -8vw;
      right: -9.2vw;
      left: 38.5vw;
   }
   @media @bw1020 {
      top: 2vw;
      left: 1.5vw;
      white-space: nowrap;
   }
   @media @bw768 {
      left: -15vw;
   }
}
