.event {
   .container ();
   display: flex;
   flex-direction: column;
   @media @bw1660 {
      padding-top: 35px;
   }
   @media @bw1020 {
      padding-top: 0;
   }
   @media @bw768 {
      padding-top: 0;
   }
   &__title {
      margin: 38px 0 80px 15px;
      color: @black;
      font-family: @font2;
      font-size: 70px;
      font-weight: @font_weight3;
      line-height: 1.285;
      text-align: center;
      @media @bw1660 {
         margin: 40px 0 80px 30px;
      }
      @media @bw1020 {
         margin: 40px 0 65px 8px;
         font-size: 40px;
         line-height: 1.275;
      }
      @media @bw768 {
         margin: 40px 10px 40px 0;
         font-size: 20px;
         line-height: 1.3;
      }
   }

   &__nav-link {
      box-sizing: border-box;
      display: inline-flex;
      color: @black;
      font-family: @font1;
      font-size: 16px;
      font-weight: @font_weight2;
      line-height: 1.375;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
      &:first-child {
         padding-right: 5px;
      }
      &:last-child {
         pointer-events: none;
         cursor: default;
      }
      @media @bw1020 {
         font-size: 14px;
         line-height: 1.357;
      }
   }
}
.event__nav {
   box-sizing: border-box;
   display: flex;
   padding: 0;
   
   @media @bw768 {
      display: none;
   }
}
   nav.event__nav a+a::before {
      content: "/";
      padding: 0 5px;
      color: black;

      @media @bw1020 {
         padding: 0 3px;
      }
   }







