.event {
   .container ();
   display: flex;
   flex-direction: column;
   padding-bottom: 10px;
   &__title {
      margin: 38px 0 80px;
      text-align: center;
      color: @black;
      font-family: @font2;
      font-weight: @font_weight3;
      font-size: @font_size11;
      line-height: @line_height10;
   }
}
.event__nav {
   box-sizing: border-box;
   display: flex;
   list-style-type : none;
   padding: 0;
   &__link {
      display: inline-flex;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
   }
   &__no-click {
      pointer-events: none;
      cursor: default;
   }
}
   nav.event__nav a+a::before {
      padding: 0 5px;
      color: black;
      content: "/";
   }







