.listing__events {
   padding: 138px 0 100px;
   &__box {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -30px -120px;
   }
}
.listing__button {
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   width: 128px;
   height: 132px;
   margin: 70px auto 0;
   &__link {
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1px 7px 0;
      grid-gap: 18px;
      color: @black;
      font-family: @font1;
      font-weight: @font_weight4;
      font-size: @font_size2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
   }
}
.listing__nav {
   box-sizing: border-box;
   display: flex;
   list-style-type : none;
   padding: 0;
   &__link {
      display: inline-flex;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
   }
   &__no-click {
      pointer-events: none;
      cursor: default;
   }
}
   nav.listing__nav a+a::before {
      padding: 0 5px;
      color: black;
      content: "/";
   }
   .services {
      .container ();
      display: flex;
      flex-direction: column;
      &__title {
         box-sizing: border-box;
         display: flex;
         justify-content: center;
         align-items: center;  
         width: 100%;
         max-width: 624px;
         min-height: 62px;
         margin: 0 auto 150px;
         padding: 16px 50px;
         background-color: @black;
         color: @white;
         font-family: @font2;
         font-weight: @font_weight2;
         font-size: @line_height8;
         text-align: center;
         text-transform: uppercase;
      }
      &__text {
         max-width: 868px;
         margin: 0;
         color:  @black;
         font-family: @font1;
         font-weight: @font_weight2;
         font-size: @font_size2;
         line-height: @line_height5;
      }
   }