.listing__events {
   padding: 138px 0 100px;
   &__box {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -30px -120px;
   }
}
.listing__button {
   display: flex;
   justify-content: center;
   width: 128px;
   height: 138px;
   margin: 70px auto 0;
   &__link {
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1px 7px;
      grid-gap: 18px;
      color: @black;
      font-family: @font1;
      font-weight: @font_weight4;
      font-size: @font_size2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
         color: @red;
      }
   }
}
.listing__nav {
   box-sizing: border-box;
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
   &__link {
      display: inline-flex;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      line-height: @line_height5;
      text-decoration: none;
      transition: color 0.2s;
      cursor: pointer;
      &:hover {
         color: @red;
      }
   }
}
ul.listing__nav li+li::before{
   padding: 5px;
   color: black;
   content: "/";
}
