.listing {
   .container ();
   display: flex;
   flex-direction: column;
}
.section-events {
   position: relative;
   width: 100%;
   padding: 34.5px 0 40px;
   overflow: hidden;
   &::before,
   &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border-bottom: 35px solid @gray_99;
   }
   &::before {
      left: 0;
      border-right: 34vw solid transparent;
   }
   &::after {
      right: 0;
      border-left: 66vw solid transparent;
   }

   &__wrapper {
      position: relative;
      width: 100%;
      padding: 85px 0 50px;
      background-color: @gray_99;

      @media @bw1660 {
         padding: 65px 0 50px;
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         bottom: -34.5px;
         display: block;
         width: 0;
         height: 0;
         border-top: 35px solid @gray_99;
      }
      &::before {
         left: 0;
         border-right: 66vw solid transparent;
      }
      &::after {
         right: 0;
         border-left: 34vw solid transparent;
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px -120px;

      @media @bw1660 {
         margin: 0 -20px -100px;
      }
      @media @bw1340 {
         margin: 0 -15px -100px;
      }
      @media @bw1020 {
         justify-content: center;
         margin: 0 -15px -80px;
      }
      @media @bw768 {
         margin: 0 -10px -80px;
      }
      @media @bw650 {
         margin: 0 0 -60px;
      }
   }

   &__btn {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 525px;
      max-width: 100%;
      height: 60px;
      margin: 70px 0 0;

      &__arrow {
         flex-shrink: 0;
         position: relative;
         display: inline-block;
         width: 92px;
         height: 60px;
         padding: 0;
         border: none;
         background: none;
         color: @black;
         font-size: @font_size0;
         text-decoration: none;
         transition: color 0.2s;

         @media @bw1340 {
            width: 67px;
            height: 40px;
         }
         &:hover {
            color: @red;
         }
         &__icon {
            width: 100%;
            height: 100%;
         }
      }
   }
   &__btns {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 6px;

      &__el {
         width: 15px;
         height: 2px;
         padding: 0;
         border: none;
         border-radius: 2px;
         background-color: @gray_dis;
         transition: background-color 0.2s;
         &:active {
            background-color: @black;
         }
      }
   }
   
   &__button {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      width: 149px;
      height: 52px;
      margin-left: auto;
      &__link {
         box-sizing: border-box;
         display: inline-block;
         padding: 15px 0 15px 40px;
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         font-weight: @font_weight4;
         line-height: @line_height5;
         text-decoration: none;
         transition: color 0.2s;
         cursor: pointer;
         &:hover {
            color: @red;
         }
      }
   }
}