.listing {
   .container ();
   display: flex;
   flex-direction: column;
   &__event-card {
      margin-right: 60px;
      width: calc(33.3333% - 60px);
      margin: 0 30px 120px;
      &:nth-child(3n) {
         margin-right: 0;
      }
   }
}
.lines {
   position: relative;
   width: 100%;
   padding: 34.5px 0 40px;
   overflow: hidden;
   &::before,
   &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border-bottom: 35px solid @gray_99;
   }
   &::before {
      left: 0;
      border-right: 34vw solid transparent;
   }
   &::after {
      right: 0;
      border-left: 66vw solid transparent;
   }
}
.section-events {
   position: relative;
   width: 100%;
   padding: 85px 0 50px;
   background-color: @gray_99;
   &::before,
   &::after {
      content: "";
      position: absolute;
      bottom: -34.5px;
      display: block;
      width: 0;
      height: 0;
      border-top: 35px solid @gray_99;
   }
   &::before {
      left: 0;
      border-right: 66vw solid transparent;
   }
   &::after {
      right: 0;
      border-left: 34vw solid transparent;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px -120px;
   }

   &__btn {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 525px;
      max-width: 100%;
      height: 60px;
      margin: 70px 0 0;

      &__arrow {
         flex-shrink: 0;
         position: relative;
         display: inline-block;
         width: 92px;
         height: 60px;
         padding: 0;
         border: none;
         background: none;
         color: @black;
         font-size: @font_size0;
         text-decoration: none;
         transition: color 0.2s;

         @media @bw1340 {
            width: 67px;
            height: 40px;
         }
         &:hover {
            color: @red;
         }
         &__icon {
            width: 100%;
            height: 100%;
         }
      }
   }
   &__btns {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 6px;
      &__el {
         width: 15px;
         height: 2px;
         padding: 0;
         border: none;
         border-radius: 2px;
         background-color: @gray_dis;
         transition: background-color 0.2s;
         &:active {
            background-color: @black;
         }
      }
   }
   &__button {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      width: 149px;
      height: 52px;
      margin-left: auto;
      &__link {
         box-sizing: border-box;
         display: inline-block;
         padding: 15px 0 15px 40px;
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         font-weight: @font_weight4;
         line-height: @line_height5;
         text-decoration: none;
         transition: color 0.2s;
         cursor: pointer;
         &:hover {
            color: @red;
         }
      }
   }
}  
.event-card {
   display: flex;
   width: 405px;
   max-width: 100%;
   min-width: 280px;
   &__link {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: @black;
      font-family: @font1;
      text-decoration: none;
      transition: color 0.2s, text-decoration-color 0.2s;
      cursor: pointer;
      &:hover {
         color: @red;
         text-decoration-color: @red;
      }
   }
   &__title {
      margin: 0 0 15px;
      min-height: 66px;
      color: @black;
      font-family: @font1;
      font-size: @font_size7;
      font-weight: @font_weight4;
      line-height: @line_height5;
      text-decoration: underline transparent;
      transition: color 0.2s, text-decoration-color 0.2s;
      cursor: pointer;
      &:hover {
         color: @red;
         text-decoration-color: @red;
      }
   }
   &__picture {
      position: relative;
      display: block;
      width: 100%;
      margin: 0 0 25px;
      font-size: @font_size0;
      text-decoration: none;
      overflow: hidden;
      &::after {
         content: "";
         display: block;
         width: 100%;
         padding-top: 107.16%;
      }
   }
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__description {
      margin: 0 0 auto;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height3;
   }
   &__time {
      margin: 15px 0 0;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight1;
      line-height: @line_height5;
   }
}
