.page-footer {
   box-sizing: border-box;
   width: 100%;
   max-width: 1414px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
   @media @bw1340 {
      padding-left: 30px;
      padding-right: 30px;
   }
   @media @bw768 {
      padding-left: 0;
      padding-right: 0;
   }
   &__line {
      display: flex;
      padding-top: 65px;

      @media @bw1660 {
         padding-top: 100px;
      }
      @media @bw1020 {
         padding-top: 100px;
      }
      @media @bw768 {
         padding: 100px 20px 0;
      }
   }
}
.page-footer__line::before,
.page-footer__line::after {
   content: "";
   flex-grow: 1;
   width: 2px;
   height: 2px;
}
.page-footer__line::before {
   margin-right: 50px;
   background: linear-gradient(to left, @black 0%, @black00 82.86% );

   @media @bw1020 {
      margin-right: 26px;
   }
   @media @bw768 {
      margin-right: 10px;
   }
}
.page-footer__line::after {
   margin-left: 50px;
   background: linear-gradient(to right, @black 0%, @black00 82.86% );

   @media @bw1020 {
      margin-left: 26px;
   }
   @media @bw768 {
      margin-left: 10px;
   }
} 
.footer {
   box-sizing: border-box;
   padding: 60px 0 75px;

   @media @bw1020 {
      padding: 60px 0;
   }
   @media @bw768 {
      padding: 60px 0 50px;
   }

   &__main {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      @media @bw768 {
         flex-direction: column;
         gap: 62px;
      }

      &__box {
         display: inline-block;
         position: relative;
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         
         @media @bw768 {
            padding-left: 20px;
            padding-right: 20px;
         }
         &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 4px;
            height: 198px;
            background: @red;

            @media @bw768 {
               height: 207px;
            }
         }
         &__nav {
            display: flex;
            flex-direction: column;
            margin-left: 22px;
            @media @bw1020 {
               margin-left: 25px;
            }
            @media @bw768 {
               margin-left: 25px;
            }
         }
         &__link {
            margin-bottom: 22px;
            color: @black;
            font-family: @font1;
            font-size: @font_size3;
            font-weight: @font_weight4;
            line-height: @line_height5;
            white-space: nowrap;
            text-decoration: none;
            transition: color 0.2s;
            cursor: pointer;

            @media @bw768 {
               margin-bottom: 27px;
               font-size: @font_size2;
               line-height: @line_height3;
            }
            
            &:last-child {
               margin-bottom: 0;
            }
            &:hover {
               color: @red;
            }
         }
      }
   }
}

.form__subscribe {
   position: relative;
   box-sizing: border-box;
   display: flex;
}
.form__field1 {
   margin: 0 0 14px 6px;

   @media @bw1660 {
      margin: 0 0 14px 0;
   }
   @media @bw1020 {
      margin: 0 0 24px 0;
   }
   @media @bw768 {
      margin: 0 0 14px 0;
   }
}
.field2 {
   box-sizing: border-box;
   width: 100%;

   @media @bw1660 {
      width: 404px;
      padding-left: 17px;
   }
   @media @bw1020 {
      width: 388px;
      padding-left: 0;
   }
   @media @bw768 {
      width: 100%;
      padding-left: 0;
      overflow: hidden;
   }

   &__input {
      box-sizing: border-box;
      width: 410px;
      height: 49px;
      padding: 0 0 0 28px;
      border: none;

      @media @bw1660 {
         width: 387px;
      }
      @media @bw1020 {
         width: 388px;
      }
      @media @bw768 {
         width: 100%;
         height: 46px;
         padding: 2px 0 0 20px;
      }
      
      &::placeholder {
         color: @gray_plachol;
         @media @bw768 {
            font-size: @font_size19;
         }
      }
      &:focus {
         &::placeholder {
            color: transparent
         }
      }
   }
   &__button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      display: block;
      padding: 15px 23px;
      width: 135px;
      height: 49px;
      border: none;
      background-color: @black;
      color: @white;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      transition: background-color 0.2s;
      cursor: pointer;
      &:hover {
         background-color: @red_dark;
      }

      @media @bw768 {
         width: 116px;
         height: 46px;
         padding: 15px 20px;
         font-size: @font_size19;
         line-height: @line_height15;
      }
   }
}
.field1 {
   display: flex;
   flex-direction: column;

   @media @bw768 {
      padding-left: 20px;
      padding-right: 20px;
   }

   &__label {
      margin: 0;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight4;
      line-height: @line_height5;

      @media @bw768 {
         font-size: @font_size1;
         font-weight: @font_weight2;
         line-height: @line_height14;
      }
   }
}
.is-hidden {
   .is-hidden ();
}
.form__check {
   box-sizing: border-box;
   position: relative;
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   min-height: 24px;
   margin-top: 15px;
   padding: 2px 0 0 24px;
   color: @black;
   cursor: pointer;

   @media @bw1660 {
      margin-left: 17px;
   }
   @media @bw1020 {
      margin-left: 0;
   }
   @media @bw768 {
      margin: 15px 20px 0 20px;
      padding: 0 0 0 24px;
   }
   
   &__input {
      
      .is-hidden();
         &:checked {
         & ~ .form__check__mark {
            background-color: @black;
               &::after {
               content: "";
               position: absolute;
               left: 7px;
               top: 2px;
               display: block;
               width: 6px;
               height: 12px;
               border-bottom: 2px solid @white;
               border-right: 2px solid @white;
               transform: rotate(45deg);
            }
         }
      }
   }
   &__mark {
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid @black;

      @media @bw768 {
         top: 4px;
      }
   }
   &__label {
      margin-left: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight1;
      line-height: @line_height5;

      &--s {
         color: @black;
         font-family: @font1;
         font-size: @font_size2;
         font-weight: @font_weight1;
         line-height: @line_height3;

         @media @bw768 {
            font-size: @font_size19;
            font-weight: @font_weight2;
            line-height: @line_height15;
         }
      }
   }
}

.footer__vault {
   box-sizing: border-box;
   display: grid;
   justify-content: space-between;
   max-width: 100%;
   width: 1334px;
   margin-top: 60px;
   grid-gap: 0 203px;
   grid-template-columns: 1fr 160px 1fr;
   grid-template-areas: 
   'copy icon ...'
   'link1 icon link2';

   @media @bw1660 {
      grid-gap: 0 166px;
   }

   @media @bw1020 {
      width: 708px;
      grid-gap: 0;
      grid-template-areas: 
         'icon icon ...'
         'copy ...  ...'
         'link1 link2 link2';
   }
   @media @bw768 {
      grid-gap: 0;
      grid-template-columns: 280px;
      grid-template-areas: 
         'icon'
         'link1'
         'copy'
         'link2';
   }
   @media @bw768 {
      padding-left: 20px;
      padding-right: 20px;
   }

   &__copy {
      grid-area: copy;
      margin-bottom: 20px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight2;
      line-height: @line_height5;
      
      @media @bw1020 {
         margin-bottom: 14px;
         font-size: @font_size2;
         line-height: @line_height3;
      }
      @media @bw768 {
         margin: 16px 0 0 auto;
         font-size: @font_size2;
         line-height: @line_height3;
      }
      &__text {
         margin: 0;
      }
   }

   &__terms1 {
      display: flex;
      align-items: flex-end;
      grid-gap: 60px;
      grid-area: link1;

      @media @bw1020 {
         grid-gap: 15px
      }
      @media @bw768 {
         flex-direction: column;
         align-items: flex-start;
         grid-gap: 20px;
      }
      &__link {
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         font-weight: @font_weight4;
         line-height: @line_height5;
         text-decoration: none;
         white-space: nowrap;
         transition: color 0.2s;
         cursor: pointer;
         &:hover {
            color: @red;
         }

         @media @bw1020 {
            font-size: @font_size2;
            line-height: @line_height3;
         }
         @media @bw768 {
            font-size: @font_size2;
            line-height: @line_height3;
         }
      }
   }
   &__terms2 {
      display: flex;
      justify-content: flex-end;
      grid-gap: 15px;
      grid-area: link2;

      @media @bw768 {
         margin-top: 7px;
      }
      &__link {
         color: @black;
         font-family: @font1;
         font-size: @font_size3;
         font-weight: @font_weight4;
         line-height: @line_height5;
         text-decoration: none;
         white-space: nowrap;
         transition: color 0.2s;
         cursor: pointer;
         &:hover {
            color: @red;
         }
         
         @media @bw1020 {
            font-size: @font_size2;
            line-height: @line_height3;
         }
         @media @bw768 {
            font-size: @font_size2;
            line-height: @line_height3;
         }
      }
      &__logo {
         box-sizing: border-box;
         display: flex;
         align-items: flex-end;
      }
   }
   
   &__icon {
      display: flex;
      align-self: end;
      grid-gap: 44px;
      grid-area: icon;
      margin: 0 auto;
   
      @media @bw1020 {
         justify-content: flex-end;
         margin: 0 25px 60px 0;
      }
      @media @bw768 {
         justify-content: center;
         grid-gap: 30px;
         margin: 0 0 60px 0;
      }
      
      &__link {
         box-sizing: border-box;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         width: 58px;
         height: 58px;
         border-radius: 50%;
         background-color: @black;
         text-decoration: none;

         @media @bw768 {
            width: 48px;
            height: 48px;
         }
      }
      &__svg {
         width: 24px;
         height: 24px;
         color: @white;

         @media @bw768 {
            width: 20px;
            height: 20px;
         }
      }
   }
}