.section-poster__container {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
}
.section-poster__title,
.section-poster__description {
   margin: 0;
   font-family: @font2;
   font-weight: @font_weight2;
   font-size: @font_size9;
   line-height: @line_height8;
   text-transform: uppercase;
   text-align: center;
}
.section-poster__svg {
   width: 100%;
   overflow: hidden;
   margin: 70px 0;
   &__box {
      position: relative;
      width: 100%;
      &::before {
         content: '';
         display: block;
         width: 100%;
         padding-bottom: 16.927%;
      }
   }
   &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
.section-poster__box-button {
   display: grid;
   margin: 100px auto 0;
   gap: 0 108px;
   width: 100%;
   max-width: 624px;
   grid-template-columns: 272px 1fr;
   grid-template-areas: 
   'p-title p-title '
   'left-btn right-btn';
   &__title {
      grid-area: p-title;
      justify-self: center;
      font-family: @font2;
      font-weight: @font_weight2;
      font-size: @font_size5;
      line-height: @line_height8;
      text-transform: uppercase;
      margin: 0 0 46px;
   }
   &__left-bnt {
      grid-area: left-btn;
   }
   &__right-bnt {
      grid-area: right-btn;
   }
}
.section-poster__btn__tenant {
   padding: 15px 44px;
   white-space: nowrap;
}
.btn_red {
   color: @white;
   background-color: @red;
   border: none;
}
.btn_red:hover {
   background-color: @red_dark;
   color: @white;
}