.event__reserve {
   box-sizing: border-box;
   width: 100%;
   max-width: 1414px;
   margin: 0 auto;
   padding: 80px 40px 10px;
}
.title {
   margin: 0 0 20px;
   color: @black;
   color: @black;
   font-family: @font1;
   font-size: @font_size3;
   font-weight: @font_weight5;
   line-height: @line_height6;
}
.reserve {
   display: grid;
   grid-gap: 67px 149px;
   grid-template-columns: 405px calc(89% - 405px);
   grid-template-areas: 
   "checks scheme"
   "order legend"; 
   width: 100%;

   &__checks {
   grid-area: checks;
   display: flex;
   flex-direction: column;
   }
   &__order {
      grid-area: order;
   }
   &__scheme {
   grid-area: scheme;
   }
   &__legend {
      grid-area: legend;
      justify-self: end;
   }

   &__scheme__title {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;  
      width: 100%;
      max-width: 162px;
      min-height: 27px;
      margin: 0 auto 40px;
      padding: 6px 56px;
      background-color: @black;
      color: @white;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight5;
      line-height: @line_height6;
      text-align: center;
   }
   &__scheme-wrapper {
      position: relative;
      width: 100%;
      &::after {
         content: "";
         display: block;
         width: 100%;
         padding-top: 51.15384%;
      }
   }
   &__scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   &__tickets {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   &__qty {
      margin-bottom: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      &::after {
         content: " " attr(data-caption)  " | " attr(data-price);
      }
   }
   &__sum {
      padding-right: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight4;
      &::after {
         content: attr(data-currency);
         margin-left: 4px;
         font-size: 0.95em;
      }
   }
   &__total {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      color: @black;
      font-family: @font1;
      font-size: @font_size4;
      font-weight: @font_weight4;
      &::before {
         content: attr(data-caption);
         margin-right: 30px;
      }
      &::after {
         content: attr(data-currency);
         margin-left: 4px;
         font-size: 0.95em;
      }
   }
   &__submit {
      width: 405px;
      height: 52px;
      margin-top: 53px;
      padding: 15px 131px;
      border: none;
      background-color: @red;
      color: @white;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight4;
      text-decoration: none;
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;
      cursor: pointer;
      &:hover {
         background-color: @red_dark;
      }
   }
   &__tickets-box1 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: end;
   }
   &__tickets-box2 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-top: 37px;
   }
   &__qty2 {
      position: relative;
      width: 161px;
      height: 24px;
      margin-bottom: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      text-align: right;
      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         width: 24px;
         height: 24px;
         background-color: @red_dark;
      }
      &::after {
         content: " " attr(data-price) " " attr(data-currency)" | " attr(data-caption);
         
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__black {
      &::before {
         background-color: @black;
      }
   }
   &__text-descr1 {
      position: relative;
      width: 175px;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      text-align: right;
      &::after,
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: -2px;
         display: block;
         width: 24px;
         height: 24px;
         border: 1px solid black;
         border-radius: 50%;
      }
      &::after {
         left: 12px;
         border-color: @red;
      }
   }
   &__text-descr2 {
      position: relative;
      width: 175px;
      margin-top: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      text-align: right;
      &::after,
      &::before {
         content: "";
         position: absolute;
         left: 15px;
         top: -2px;
         display: block;
         width: 24px;
         height: 24px;
         border: none;
         background-color: @gray_dis;
         border-radius: 50%;
      }
   }
}
.check {
   box-sizing: border-box;
   position: relative;
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   min-height: 24px;
   margin-top: 10px;
   padding-left: 24px;
   color: @black;
   cursor: pointer;
   
   &--black {
      color: @black;
      .check__mark {
         border-color: @black;
      }
      .check__input {
         .is-hidden ();
         &:checked {
         & ~ .check__mark {
            background-color: @black
            }
            &::after {
               content: "";
               position: absolute;
               left: 7px;
               top: 2px;
               display: block;
               width: 6px;
               height: 12px;
               border-bottom: 2px solid @white;
               border-right: 2px solid @white;
               transform: rotate(45deg);
            }
         }
      }
   }
   &--red {
      color: @red;
      .check__mark {
         border-color: @red;
      }
      .check__input {
         .is-hidden ();
         &:checked {
         & ~ .check__mark {
            background-color: @red;
            }
            &::after {
               content: "";
               position: absolute;
               left: 7px;
               top: 2px;
               display: block;
               width: 6px;
               height: 12px;
               border-bottom: 2px solid @white;
               border-right: 2px solid @white;
               transform: rotate(45deg);
            }
         }
      }
   }
   &--disabled {
      pointer-events: none;
      opacity: 0.5;
   }
   &__mark {
      box-sizing: border-box;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border: 1px solid @black;
   }
}












