.event__reserve {
   .container ();
   display: flex;
   flex-direction: column;
   margin-top: 80px;
}
.reserve {
   display: grid;
   grid-gap: 67px 149px;
   grid-template-columns: 405px calc(89% - 405px);
   grid-template-areas: 
   "checks scheme"
   "order legend"; 
   width: 100%;
}
.reserve__checks {
   grid-area: checks;
   display: flex;
   flex-direction: column;
}
.reserve__order {
   grid-area: order;
}
.reserve__scheme {
   grid-area: scheme;
}
.reserve__legend {
   grid-area: legend;
   justify-self: end;
}
.check {
   &--red {
      color: @red;
      .check__mark {
         border-color: @red;
      }
      .check__input {
         &:checked {
         & ~ .check__mark {
            background-color: @red;
            }
         }
      }
   }
   &--disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}
.check__input {
   .is-hidden ();
   &:checked {
      & ~ .check__mark {
         background-color: @black;
         &::after {
            content: "";
            display: block;
            position: absolute;
            left: 7px;
            top: 2px;
            width: 6px;
            height: 12px;
            border-bottom: 2px solid @white;
            border-right: 2px solid @white;
            transform: rotate(45deg);
         }
      }
   }
}
.title {
   margin: 0;
   color: @black;
   font-weight: @font_weight5;
   font-size: @font_size3;
   font-family: @font1;
   line-height: @line_height6;
}


.reserve {
   &__checks__title {
      margin-bottom: 5px;
   }
   &__order__title {
      margin-bottom: 20px;
   }
   &__legend__title {
      margin-bottom: 20px;
   }
   &__scheme-div {
      display: flex;
      justify-content: center;
      align-items: baseline;
      background-color: @black;
      margin: 0 auto 40px;
      width: 162px;
      &__title {
         margin: 0;
         padding: 6px 0;
         color: @white;
         font-weight: @font_weight5;
         font-size: @font_size3;
         font-family: @font1;
         line-height: @line_height6;
      }
   }
   &__scheme-wrapper {
      position: relative;
      width: 100%;
      &::after {
         content: "";
         display: block;
         width: 100%;
         padding-top: 51.15384%;
      }
   }
   &__scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   &__tickets {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   &__qty {
      color: @black;
      font-family: @font1;
      font-size: @font_size2;
      font-weight: @font_weight2;
      margin-bottom: 15px;
      &::after {
         content: " " attr(data-caption)  " | " attr(data-price);
      }
   }
   &__sum {
      padding-right: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size3;
      font-weight: @font_weight4;
      &::after {
         content: attr(data-currency);
         margin-left: 4px;
         font-size: 0.95em;
      }
   }
   &__total {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      color: @black;
      font-size: @font_size4;
      font-family: @font1;
      font-weight: @font_weight4;
      &::before {
         content: attr(data-caption);
         margin-right: 30px;
      }
      &::after {
         content: attr(data-currency);
         margin-left: 4px;
         font-size: 0.95em;
      }
   }
   &__submit {
      margin-top: 53px;
      color: @white;
      font-family: @font1;
      font-weight: @font_weight4;
      font-size: @font_size2;
      width: 405px;
      height: 52px;
      padding: 15px 131px;
      border: none;
      background-color: @red;
      text-decoration: none;
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;
      cursor: pointer;
      &:hover {
         background-color: @red_dark;
      }
   }
   &__tickets-box1 {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: end;
   }
   &__tickets-box2 {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: end;
      margin-top: 37px;
   }
   &__qty2 {
      position: relative;
      width: 161px;
      height: 24px;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      margin-bottom: 15px;
      text-align: right;
      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         width: 24px;
         height: 24px;
         background-color: @red_dark;
      }
      &::after {
         content: " " attr(data-price) " " attr(data-currency)" | " attr(data-caption);
         
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__black {
      &::before {
         background-color: @black;
      }
   }
   &__text-descr1 {
      position: relative;
      width: 175px;
      text-align: right;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      &::after,
      &::before {
         content: "";
         position: absolute;
         display: block;
         width: 24px;
         height: 24px;
         left: 0;
         top: -2px;
         border: 1px solid black;
         border-radius: 50%;
      }
      &::after {
         left: 12px;
         border-color: @red;
      }
   }
   &__text-descr2 {
      position: relative;
      width: 175px;
      margin-top: 15px;
      color: @black;
      font-family: @font1;
      font-size: @font_size1;
      font-weight: @font_weight2;
      text-align: right;
      &::after,
      &::before {
         content: "";
         position: absolute;
         display: block;
         width: 24px;
         height: 24px;
         left: 15px;
         top: -2px;
         border: none;
         background-color: @gray_dis;
         border-radius: 50%;
      }
   }
}













