
/* Секция Услуги */
.section-services__title {
   font-size: 22px;
   font-weight: 400;
   line-height: 1.363;
}
.services {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1414px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
}
.section-services {
   margin-top: 100px;
}
.section-services__text {
   margin: 0 0 60px 0;
   color: #1f1e1e;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.375;
}
.table {
   width: 100%;
   border-collapse: collapse;
   color: #1F1E1E;
   text-align: center;
}
.table__tr:nth-child(2n-1) {
   background-color: rgba(31, 30, 30, 0.03);
}
.table__th {
   height: 85px;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
}
.table__footer-th {
   height: 60px;
   font-size: 0;
}
.table__th,
.table__footer-th {
   box-sizing: border-box;
   padding: 10px;
   border-right: 1px solid #BFBFBF;
   text-transform: uppercase;
}
.table__th:first-child,
.table__footer-th:first-child {
   padding-left: 0;
}
.table__th:last-child,
.table__footer-th:last-child {
   border-right: none;
   padding-right: 0;
}
.table__body-th {
   box-sizing: border-box;
   height: 50px;
   padding: 10px 10px 10px 0;
   border-top: 1px solid #BFBFBF;
   border-bottom: 1px solid #BFBFBF;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-align: left;
}
.table__td {
   box-sizing: border-box;
   height: 50px;
   padding: 10px;
   border: 1px solid #BFBFBF;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}
.table__td:last-child {
   border-right: none;
   padding-right: 0;
}
.ok {
   display: block;
   position: relative;
   width: 26px;
   height: 26px;
   margin: auto;
   border-radius: 50%;
   background-color: #1F1E1E;
}
.ok::after {
   content: "";
   box-sizing: border-box;
   display: block;
   position: absolute;
   top: 4px;
   left: 9px;
   width: 8px;
   height: 14px;
   border-right: 2px solid #ffffff;
   border-bottom: 2px solid #ffffff;
   transform: rotate(45deg);
}
/* контакты */
.btn {
   display: inline-block;
   box-sizing: border-box; 
   padding: 15px 40px;
   border: 1px solid #1F1E1E;
   background-color: transparent;
   outline: none;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   text-decoration: none;
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   overflow: hidden;
   cursor: pointer;
}
.section-services__contacts {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 624px;
   margin: 0 auto;
}
.section-services__title-btn {
   display: flex;
   justify-content: center;
}
.section-services__title-choice {
   margin: 110px 0 52px; 
   font-family: "Lora";
   font-weight: 400;
   font-size: 22px;
   line-height: 136%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
}
.section-services__block-btn {
   display: flex;
   justify-content: space-between;
   margin-bottom: 200px;
}
.section-services__event-btn {
   white-space: nowrap;
   height: 52px;
   color: #fff;
   background-color: #BC3324;
   border: none;
}
.section-services__event-btn:hover {
   background-color: #a51505;
   color: #fff;
   border: none;
}
.service {
   box-sizing: border-box;
   display: grid;
   max-width: 100%;
   width: 1334px;
   margin: 0;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
   align-items: center;
   grid-template-areas: 
   'prices contact handshake'; 
}
.section-services__prices {
   grid-area: prices;
}
.section-services__contact {
   grid-area: contact;
}
.section-services__handshake {
   grid-area: handshake;
}
.service-card__picture {
   align-self: center;
}
.service-card__link { 
   display: flex;
   flex-direction: column;
   width: 100%;
   color: #1F1E1E;
   text-decoration: none;
}
.service-card__link:hover .service-card__title {
   color: #BC3324;
   text-decoration-color: #BC3324;
}
.service-card__picture {
   display: block;
   position: relative;
   width: 110px;
   margin: 0 0 25px;
   font-size: 0;
   text-decoration: none;
   overflow: hidden;
}
.service-card__img {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.service-card__title {
   margin: 0 0 15px;
   min-height: 66px;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   font-size: 20px;
   text-align: center;
   line-height: 27px;
   text-decoration: underline transparent;
   transition: color 0.2s, text-decoration-color 0.2s;
}
.service-card__description {
   
   margin: 0 0 auto;
   font-family: "Open Sans", sans-serif;
   color: #1F1E1E;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
}
/* .section-services__prices,
.section-services__contact,
.section-services__handshake {
   margin-right: 60px;
   width: calc(33.3333% - 60px);
   margin: 0 30px 120px;
} */
.listing__event-card:nth-child(3n) {
   margin-right: 0;
}
.service-card__picture::after {
   content: "";
   display: block;
   width: 100%;
   padding-top: 107.16%;
}
